body {
    box-sizing: border-box;
    background-image: url("images/background-blue.jpg");
    background-repeat: no-repeat;
    max-height: 1200px;
    max-width: 1200px;
    color: #20364d;
}

header {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.cat-list li{
    list-style-type: none;
    padding: 5px;
}

.cat-list a  {
    padding: 5px;
    color: #20364d;
    text-decoration: none;
}


a:hover { 
    padding: 5px;
    background-color: rgba(100, 185, 216, 0.3);
}

.cat-display {
    width: 500px;
    height: 400px;
    border: solid  1p #20364d;
}

.cat-selection {
    display: flex;
    justify-content: space-between;
}

