body {
    box-sizing: border-box;
    background-image: url("images/background-blue.jpg");
    background-repeat: no-repeat;
    max-height: 1200px;
    max-width: 1200px;
    color: #20364d;
}

header {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.cat-list li{
    list-style-type: none;
    padding: 5px;
}

.cat-list a  {
    padding: 5px;
    color: #20364d;
    text-decoration: none;
}


a:hover { 
    padding: 5px;
    background-color: rgba(100, 185, 216, 0.3);
}

.cat-display {
    min-width: 100%;
    width: 500px;
    height: 400px;
    margin: 0;
    padding: 0;
    border: solid  1p #20364d;
}

.cat-selection {
    display: flex;
    justify-content: space-between;
}

a, #admin,.cat-display, button  {
    cursor: pointer;
}

.frame {
    display: flex;
    flex-direction: column;
}

input {
    margin: 5px;
}

#admin {
    margin-top: 10px;
}

.wrapper {
    width: 250px;
    height: 250px;
}

.buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    width: 100px;
    height: 44px;
    background-color: #20364d;
    color: #b0cee8; 
}

.hidden {
    display: none;
}
